{{ partial "header.html" . }}

<main class="content" role="main">

  {{ if .Content }}
  <article class="article">
    {{ if .Title }}
    <h1 class="article-title">{{ .Title }}</h1>
    {{ end }}
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>
  {{ end }}

  <div class="article-content">
    {{ $pages := .Pages }}
    {{ $decadi := slice }}

    {{ range $pages }}
      {{ $year := .Date.Format "2006" | int }}
      {{ $decade := printf "%d" (mul (div $year 10) 10) }}
      {{ if not (in $decadi $decade) }}
        {{ $decadi = $decadi | append $decade }}
      {{ end }}
    {{ end }}

    {{ range sort $decadi }}
      <h5 class="archive-title" style="font-size:1.4rem;">Programmazione {{ . }}</h5>
      {{ $decade := . }}
      {{ range sort $pages "Date" }}
        {{ $year := .Date.Format "2006" | int }}
        {{ if eq (printf "%d" (mul (div $year 10) 10)) $decade }}
        <li style="display:inline; margin-right:0.5em;">
            <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Date.Format "2006" }}</a>
        </li>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>

</main>

{{ partial "footer.html" . }}