{{ partial "header.html" . }}

<main class="content" role="main">
<div class="article-content">
        <p>Errore 404 pagina non trovata.</p>
        <p>Beh, questo è un problema. Sembra che tu sia finito su una pagina che non esiste.</p>
        <p>Mi dispiace.</p>
        <p>Da questo punto in poi, non sono sicuro su cosa possiamo fare per risolvere questa situazione. Puoi tornare alla <a href="/">pagina principale</a>, oppure mandarmi una mail dicendomi cosa stavi cercando quando sei finito qui?</p>
        <p>Ti auguro una buona giornata, e spero che troverai ciò che stavi cercando :)</p>
        <p>Vito</p>
</div>
</main>

{{ partial "footer.html" . }}
