<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #000;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

{{ $dir := string (.Get "gallery_dir") }}
<ul class="image-gallery">
  {{ range (resources.Match (printf "%s/*" $dir)) }}
    {{- $imageWebp := .Resize "1600x1600 webp q80" -}}
    {{- $thumbWebp := .Resize "300x300 webp q80" -}}
    {{- $imagetitle := index (split .Name ".") 0 -}}

    <li>
      <a href="{{ $imageWebp.RelPermalink }}" title="{{ $imagetitle }}" class="lightbox-image">
        <img src="{{ $thumbWebp.RelPermalink }}" alt="{{ $imagetitle }}" title="{{ $imagetitle }}" loading="lazy">
      </a>
    </li>
  {{ end }}
</ul>
